/* Main container for news articles */
.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}
.headline-heading{
    font-size: 2.5em;
    font-weight: 500;
    margin: 35px 0px;
    text-align: center;
}


@media (max-width: 1024px) {
    .news-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .news-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.news-item:hover {
    transform: scale(1.03);
}
