/* Main container for news articles */
.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;   
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    width: 350px;
    background: white;
  }
  
  .search-input {
    border: none;
    outline: none;
    flex: 1;
    padding: 8px;
    
    font-size: 16px;
  }
  
  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  

.headline-heading{
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0px;
}
.news-item{
    width: 100%;
    padding: 10%;
    
}
.news-item:hover {
    transform: scale(1.03);
}


@media (max-width: 1024px) {
    .news-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .news-container {
        grid-template-columns: repeat(1, 2fr);
        
    }
    .headline-heading{
        font-size: 2em;
    }
}


/* Mobile (default styles) */
@media (max-width: 450px) {
    .news-container {
        grid-template-columns: repeat(1, 1fr);
        
    }
    .search-box {
        width: 250px;
        height: 40px;
    }
    .search-input{
        width: 200px;
    }
    .headline-heading{
        font-size: 1.5em;
    }

}
